/.idea
/Branding
/logs
/music_persistence
/Orchestrator
/FredBoat/src
/FredBoat/credentials.yaml
/FredBoat/target/generated-sources/
/FredBoat/target/FredBoat-shaded.jar
/FredBoat/target/original-FredBoat.jar
/FredBoat/target/classes/
/FredBoat/target/maven-archiver/
/FredBoat/target/test-classes/
/FredBoat-Bootloader/target/FredBoat-Bootloader-1.0-shaded.jar
/FredBoat-Bootloader/target/classes/
/FredBoat-Bootloader/target/maven-archiver/
/FredBoat-Bootloader/target/generated-sources/
/FredBoat-Bootloader/target/original-FredBoat-Bootloader.jar
/FredBoat-Bootloader/target/maven-status/
